.bi-heart {
  width: 48px;
  height: 48px;
  background: rgba(54, 133, 181, 0.0588235294);
}

.bi-heart-fill {
  width: 48px;
  height: 48px;
  background: rgba(54, 133, 181, 0.0588235294);
}

.img-card-employer {
  width: 90px;
  height: 90px;
  border-radius: 51px;
}

.employer-search h5 {
  margin-bottom: -2px !important;
}

.certificate-img {
  width: 24px;
  height: 24px;
}

.wilshlist:hover {
  background: rgba(54, 133, 181, 0.2);
  border-radius: 5px;
}
.wilshlist h5 {
  margin-bottom: -2px !important;
}
