.navbar {
  z-index: 100;
}

.logo-page-search {
  width: 32px;
  height: 32px;
}

.btn-search-page:hover {
  background-color: #fff !important;
  color: #3685B5 !important;
}

.img-search-section .img-search {
  width: 100%;
  height: 100vh;
  filter: brightness(0.7) !important;
  object-fit: cover;
}
.img-search-section .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-search-section ::placeholder {
  color: #fff !important;
}
.img-search-section .input-group {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
}
.img-search-section input {
  flex: 1;
  border: none;
  padding: 5px;
}
.img-search-section button.search-button {
  background-color: #3685B5;
  color: #fff;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-page-search {
  background: rgba(255, 255, 255, 0.7);
}

.bg-transparent-search:focus {
  border: none;
  outline: none;
}
