@import "variables";

.bi-heart{
  width: 48px;
  height: 48px;
background: #3685B50F;
}
.bi-heart-fill{
  width: 48px;
  height: 48px;
background: #3685B50F;
}
.img-card-employer{
  width: 90px;
  height: 90px;
  border-radius: 51px;

}
.employer-search{
  h5{
    margin-bottom: -2px !important;
  }
}
.certificate-img{
  width: 24px;
height: 24px;

}
.wilshlist{
  &:hover{
  background: #3685B533;
  border-radius: 5px;

  }
  h5{
    margin-bottom: -2px !important;
  }
}